<div>
  <section class="section-intro">

    <singup></singup>

    <div class="intro">
      <h1>Practical Machine Learning and AI with World-Class Data Scientists</h1>
      <h4>A development program for Ukrainian Software Engineers, Data Engineers,
        Data Scientists of all skill levels.</h4>
      <p>We need people like you to help us grow further. We offer a training program where you will be involved in customer-oriented Data Science activities, development of the DataRobot platform, or creating public-facing DS content.</p>
    </div>
  </section>
  <section class="section">
    <p class="section-text section-text--center">
      At DataRobot, having machine learning in production is what our product is about. Hundreds of high-profile organizations across the world use our models every day and base their business operations on them.
    </p>
  </section>
  <section class="section">
    <p class="section-title">
      Why you will benefit from the program
    </p>
    <ul class="section-list">
      <li class="section-list__item">
        <i class="section-list__item-icon section-list__item-icon--1"></i>
        <p class="section-list__item-text">We know how to operationalize Machine Learning in the real world and ready to share this knowledge with you</p>
      </li>
      <li class="section-list__item">
        <i class="section-list__item-icon section-list__item-icon--2"></i>
        <p class="section-list__item-text">We have a superstar team of Kaggle champions, ML library authors, and <nobr>business-savvy</nobr> scientists to help you learn and succeed</p>
      </li>
      <li class="section-list__item">
        <i class="section-list__item-icon section-list__item-icon--3"></i>
        <p class="section-list__item-text">You will join us as a DataRobot employee and work on the tasks directly related to the evolution of the product</p>
      </li>
      <li class="section-list__item">
        <i class="section-list__item-icon section-list__item-icon--4"></i>
        <p class="section-list__item-text">You will enjoy all the productivity boosts offered by Machine Learning automation and state of the art ML models</p>
      </li>
    </ul>
  </section>
</div>
